table {
    width: 90%;
}

.mat-form-field {
    font-size: 15px;
    width: 25%;
}

.img-post {
    margin-top: 2.5%;
    object-fit: cover;
    border-radius: 10%;
    width: 100px;
    height: 100px;
}

.img-avatar {
    margin-top: 2.5%;
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
