<div style="text-align: center; background-color: #3F51B5; height: 13%; margin-bottom: 5%; position: relative;">
    <h2 style="color: white; margin: 0; position: absolute; left: 33%; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">Añadir negocio</h2>
</div>
<div class="col-12">
    <div class="text-center" style="text-align: center;">
        <input type="file" class="file-input" onchange="handleFileInput($event.target.files)" #fileUpload>
        <div class="file-upload">
            {{fileName || "Debe subir una foto del negocio."}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
<mat-icon>attach_file</mat-icon>
</button>
        </div>
    </div>
</div>
<form [formGroup]="newSiteForm" style="padding: 8% 15%;" fxLayout="column">
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Nombre del negocio</mat-label>
            <input matInput placeholder="Nombre del negocio" formControlName="name" name="name" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['name'].dirty || newSiteForm.controls['name']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('name')?.hasError('required')">
                Debe introducir el nombre del negocio.
            </div>
            <div *ngIf="newSiteForm.get('name')?.hasError('minlength')">
                Debe introducir un nombre más largo.
            </div>
            <div *ngIf="newSiteForm.get('name')?.hasError('maxlength')">
                Debe introducir un nombre más corto.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción" formControlName="description" name="description" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['description'].dirty || newSiteForm.controls['description']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('description')?.hasError('required')">
                Debe introducir una breve descripción del negocio.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección" formControlName="address" name="address" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['address'].dirty || newSiteForm.controls['address']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('address')?.hasError('required')">
                Debe introducir una dirección.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Ciudad</mat-label>
            <input matInput placeholder="Ciudad" formControlName="city" name="city" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['name'].dirty || newSiteForm.controls['name']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('name')?.hasError('required')">
                Debe introducir una ciudad.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Código Postal</mat-label>
            <input matInput placeholder="Código Postal" formControlName="postalCode" name="postalCode" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['name'].dirty || newSiteForm.controls['name']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('name')?.hasError('required')">
                Debe introducir un código postal.
            </div>
            <div *ngIf="newSiteForm.get('name')?.hasError('minlength')">
                Debe introducir un código postal más largo.
            </div>
            <div *ngIf="newSiteForm.get('name')?.hasError('maxlength')">
                Debe introducir un código postal más corto.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Correo Electrónico" formControlName="email" name="email" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['email'].dirty || newSiteForm.controls['email']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('email')?.hasError('required')">
                Debe introducir su email.
            </div>
            <div *ngIf="newSiteForm.get('email')?.hasError('email')">
                Debe introducir un email válido.
            </div>
            <div *ngIf="newSiteForm.get('email')?.hasError('pattern')">
                Debe introducir un correo electrónico válido.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" name="phone" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['phone'].dirty || newSiteForm.controls['phone']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('phone')?.hasError('required')">
                Debe introducir el teléfono del negocio.
            </div>
            <div *ngIf="newSiteForm.get('phone')?.hasError('minlength')">
                Debe introducir un teléfono más largo.
            </div>
            <div *ngIf="newSiteForm.get('phone')?.hasError('maxlength')">
                Debe introducir un teléfono más corto.
            </div>
            <div *ngIf="newSiteForm.get('phone')?.hasError('pattern')">
                Debe introducir un número de teléfono válido.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Web</mat-label>
            <input matInput placeholder="Sitio Web" formControlName="web" name="web" required>
        </mat-form-field>
        <div *ngIf="newSiteForm.controls['web'].dirty || newSiteForm.controls['web']?.touched" class="alert alert-danger">
            <div *ngIf="newSiteForm.get('web')?.hasError('required')">
                Debe introducir la url del negocio.
            </div>
            <div *ngIf="newSiteForm.get('web')?.hasError('pattern')">
                Debe introducir una url válida.
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Propietario</mat-label>
            <select matNativeControl [value]="newSiteForm.value">
        <option value="" selected></option>
    <option *ngFor="let propietario of propietariosList" value="propietario.id"></option>
  </select>
        </mat-form-field>
    </div>
    <div style="margin-left: 74%; margin-top: 5%">
        <div class="col-3">
            <mat-action-list>
                <button mat-raised-button color="primary" (click)="addSite()">Añadir</button>
            </mat-action-list>
        </div>
    </div>
</form>
