.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.sidenav-menu {
    width: 300px;
}

.sidenav-title {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

.sidenav-icon {
    margin-right: 20px;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #4051B5;
    line-height: 20px;
}

.mat-toolbar {
    background: #2C2C2C;
}

.example-spacer {
    flex: 1 1 auto;
}

@font-face {
    font-family: Instagram;
    src: local("Instagram"), url(../../../../assets/fonts/insta_font_bold.otf) format("truetype");
}

.logo {
    color: white;
    padding: 0% 2%;
    font-family: Instagram;
    font-size: 33px;
    text-align: center
}

.username {
    color: white;
    padding: 1% 0% 0% 0%;
    font-size: 15px;
    text-align: center
}

img {
    padding: 0% 2%;
    object-fit: cover;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

mat-icon {
    color: white
}
