<div class="col-2">
    <mat-form-field appearance="outline">
        <mat-label>Nombre y Apellidos</mat-label>
        <input matInput placeholder="Nombre y Apellidos" [(ngModel)]="userDto.fullName" name="fullName" required>
    </mat-form-field>
</div>
<div class="col-2">
    <mat-form-field appearance="outline">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Nombre de Usuario" [(ngModel)]="userDto.username" name="username" required>
    </mat-form-field>
</div>
<div class="col-2">
    <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="Correo Electrónico" [(ngModel)]="userDto.email" name="email" required>
    </mat-form-field>
</div>
<div class="col-2 ">
    <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput placeholder="Fecha de Nacimiento" [(ngModel)]="userDto.birthDate" name="birthDate" required>
    </mat-form-field>
</div>
<div class="col-2 ">
    <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" [(ngModel)]="userDto.phone" name="phone" required>
    </mat-form-field>
</div>
<div class="col-2 ">
    <mat-action-list>
        <button mat-button (click)="addUser() " class="bg-primary ">Crear</button>
    </mat-action-list>