.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}

.error {
    margin-top: -3%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: 25%;
    font-size: 12px;
    color: red;
}
