<div class="main" fxLayout="column" fxLayoutAlign="start center">
    <button mat-raised-button color="primary" (click)="openDialogNewSite()" style="margin-top: 2%">Añadir Negocio</button>
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
    <div class="table-container" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z20">

            <ng-container matColumnDef="scaledFileUrl">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Avatar </th>
                <td mat-cell *matCellDef="let element" class="td-cell"><img class="img-avatar" (click)="openDetailSite(element.id)" src={{element.scaledFileUrl}} /> </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Nombre </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Calle </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Ciudad </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="postalCode">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Código Postal </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.postalCode}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Teléfono </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="totalComments">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Comentarios </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.totalComments}} </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Valoración Media </th>
                <td mat-cell *matCellDef="let element" class="td-cell"> {{element.rate}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="font-size: 1.2em; color: black; font-weight: bold; text-align:center !important"> Acciones </th>
                <td mat-cell *matCellDef="let element" class="td-cell">
                    <button (click)="openDialogEditSite(element)" mat-icon-button matTooltip="Click to Edit Site" class="iconbutton" color="primary">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                              </button>
                    <button (click)="openDeleteDialog(element.id)" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encuentran resultados para la búsqueda: "{{input.value}}"</td>
            </tr>
        </table>
    </div>
</div>
